ul.navbar-complete-list {
  display: none;
  font-size: 13px;
}

ul.navbar-complete-list li {
  margin: 0 3rem;
}

ul.navbar-complete-list .options li:hover {
  color: #e98700;
}

@media only screen and (min-width: 1024px) {
  ul.navbar-complete-list {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
  }
}
