.menu-container {
  background-color: #000;
  color: #fff;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: clip-path 0.7s;
  margin-right: 20px;
  position: absolute;
  top: 1;
  right: 0;
}

.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transition: clip-path 0.7s;
}

.cancel-btn {
  color: #e98700;
}

ul.menu-list {
  list-style: none;
  font-size: 13px;
  font-weight: lighter;
}

ul.menu-list li {
  cursor: pointer;
  padding: 15px;
}

.active-button {
  transform: rotate(-180deg);
  transition: transform 0.3s ease 0s;
}

.options {
  text-decoration: none;
  color: inherit;
}
