ul.rrss-list {
  display: flex;
  justify-content: space-around;
  color: #fff;
  margin: 0 80px;
  list-style: none;
}

@media only screen and (min-width: 1024px) {
  ul.rrss-list {
    margin: 0 35%;
  }
}
